{% extends 'blog_base.html' %}
{% load staticfiles %}

{% block content %}
<script src="http://v3.bootcss.com/examples/offcanvas/offcanvas.js"></script>
<link href="http://v3.bootcss.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
	<p class="pull-right visible-xs">
		<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
	</p>
    {% include "blog_list.html" %}
    {% include "blog_sidebar.html" %}
  </div>
</div>
{% endblock %}