<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<!-- Custom styles for this template -->
    <link href="//v3.bootcss.com/examples/starter-template/starter-template.css" rel="stylesheet">
	<!-- 模板中使用必须要加上 {% load staticfiles %} 之后，方可使用 {% static 'path' %} 来引用静态文件。-->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/emacs.css' %}">
	{% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block nav %}
      {% include "blog_nav.html" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>