<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
	<div class="panel panel-info">
		<div class="panel-heading">
			最近的文章
		</div>
		<div class="list-group">
			{% for o in object_list_all %}
				{% if forloop.counter < 5 %}
					<a href="{% url 'article_detail' o.title %}" class="list-group-item">{{o.title_zh}}</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="panel panel-default">
		<div class="github-card" data-github="lvniqi" data-theme="default"></div>
		{% load staticfiles %}
		<img src={% static 'image/wechat_private.png' %} class="img-responsive"  width="auto"/>
	</div>
	<!--
	<div id="blogroll">
	  <h2 style="font-size:18px; color: #333333">Blogroll</h2>
	  <p>
		<a href="http://blog.binux.me" target="_blank">Binuxの杂货铺</a>
	  </p>
	  <p>
		<a href="http://www.darkof.com/" target="_blank">Adam Wen's Blog</a>
	  </p>
	  <p>
		<a href="http://lilydjwg.is-programmer.com/" target="_blank">依云's Blog</a>
	  </p>
	  <p>
		<a href="http://zhangxiaoyang.me/" target="_blank">zhangxiaoyang.me</a>
	  </p>
	  <p>
		<a href="http://blog.wuxianbin.cn/" target="_blank">Happybin's Blog</a>
	  </p>
	</div>
	-->
	<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
</div>