<!DOCTYPE html>
<html lang="zh-CN">
  {% block head %}
      {% include "home_head.html" %}
  {% endblock %}

  <body>

	{% block nav %}
		{% include "home_nav.html" %}
	{% endblock %}
	
	{% block container %}
    {% include "home_container.html" %}
	{% endblock %}
	
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
				'echarts/theme/macarons', // macarons主题
				'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
				var chart_id='main';
				var theme = 'macarons';
                var myChart = ec.init(document.getElementById(chart_id),theme); 
                
                var option = {
					title : {
						text: '温度传感器检测数据',
						subtext: '纯属虚构'
					},
					tooltip : {
						trigger: 'axis',
						{{formatter|safe}}
					},
					legend: {
						data:{{legend|safe}}
					},
					toolbox: {
						show : true,
						feature : {
							mark : {show: true},
							dataView : {show: true, readOnly: false},
							dataZoom : {show: true},
							magicType : {show: true, type: ['line', 'bar']},
							restore : {show: true},
							saveAsImage : {show: true}
						}
					},
					dataZoom:{
						orient:"horizontal", //水平显示
						show:true, //显示滚动条
						start:60, //起始值为60%
					},
					calculable : true,
					grid: {
						y2: 80
					},
					xAxis : [
						{
						{{xAxis|safe}}
						}
					],
					yAxis : [
						{
							type : 'value',
							axisLabel : {
								formatter: '{value} °C'
							}
						}
					],
					series :
						{{series|safe}}
					
				};
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
				window.onresize = function () {
					myChart.resize(); //使第一个图表适应
				}
            }
        );
    </script>

  </body>
</html>
